<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.mapper.SpecificationOptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.domain.SpecificationOption">
        <id column="id" property="id" />
        <result column="spec_id" property="specId" />
        <result column="optionName" property="optionName" />
        <result column="index" property="index" />
    </resultMap>

</mapper>
